<div class="flex">        
    <div class="vert-nav-noclass">
        <%= render 'shared/vertnav' %>
        <%= yield %>
    </div>
    <div class="dashboard-area">
        <div class="section">
            <p>Blog Posts</p>
            <p>New Blog Post</p>
            <ul>
                <li>blogpost 1</li>
                <li>blogpost 1</li>
                <li>blogpost 1</li>
                <li>blogpost 1</li>
            </ul>
        </div>
        <div class="section">
            <p>Employment</p>
            <p>New Employment Post</p>
            <ul>
                <li>blogpost 1</li>
                <li>blogpost 1</li>
                <li>blogpost 1</li>
                <li>blogpost 1</li>
            </ul>
        </div>
        <div class="section">
            <p>Portfolio</p>
            <p>New Portfolio Post</p>
            <ul>
                <li>blogpost 1</li>
                <li>blogpost 1</li>
                <li>blogpost 1</li>
                <li>blogpost 1</li>
            </ul>
        </div>
        <div class="section">
            <p>Projects</p>
            <p>New Project Post</p>
            <ul>
                <li>blogpost 1</li>
                <li>blogpost 1</li>
                <li>blogpost 1</li>
                <li>blogpost 1</li>
            </ul>
        </div>
    </div>
</div>