<div class="page-content-area">      
    <h3 class="table-h1"><%= @employments.position_title %></h3>
    <p class="table-h2"><%= @employments.company_name %></p>
    <p class="table-p"><%= @employments.company_url %></p>
    <p class="table-p"><%= @employments.company_description %></p>
</div>