<div class="page-content-area">      
    <h3 class="table-h1"><%= @portfolios.client_name %></h3>
    <p class="table-h2"><%= @portfolios.client_url %></p>
    <p class="table-p">
    <%= @portfolios.client_description %>
    </p>
</div>

