<div class="vertnav-bar">
    <div class="navitem">
        <a>Dashboard</a>
    </div>
    <div class="navitem">
        <a>Blog Posts</a>
    </div>
    <div class="navitem">
        <a>Employment</a>
    </div>
    <div class="navitem">
        <a>Portfolio</a>
    </div>
    <div class="navitem">
        <a>Projects</a>
    </div>
</div>