<div class="page-content-area">      
    <h3 class="table-h1"><%= @projects.project_name %></h3>
    <p class="table-h2"><%= @projects.project_url %></p>
    <p class="table-p"><%= @projects.project_description %></p>
    <div class="flex table-button-spacing">
</div>