.button-main {
    background: grey;
    color: white;
    padding: 10px 15px 10px 15px;
    &:hover {
        text-decoration: none !important;
        color: white;
    }
}

.button-container {
    padding: 25px 0px 25px 0px;
}

.td-button {
    padding-right: 10px;
    background: #009c9c;
    color: white;
    padding: 5px 10px 5px 10px;
    margin-right: 10px;
    &:hover {
        text-decoration: none !important;
        color: white;
    }
}