.aboutme-card {
    display: flex;
    background: #222222;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;

}

.aboutme-card-text {

}

.aboutme-card-img {
    width: 125px;
}

.about-me-left {
    width: 80%;
}

.about-me-left-more-margin {
    margin-left: 60px;
}

.about-me-right-more-top-padding {
    padding-top: 50px;
}

.about-me-left-more-top-padding {
    padding-top:25px;
}

@media screen and (max-width: 768px) {
    
    .about-me-left-more-margin {
        margin-left: 0px;
    }
    .about-me-left {
        width: 100%;
    }

}