.page-content-area {
    padding-left: 250px;
    padding-top: 50px;
    padding-right: 50px;
    width: 100%;
    padding-bottom: 50px;
}

.log-in-area {
    margin: 0 auto;
    width: 40%;
    padding-top: 250px;
}

.page-content-area-blog {
    padding-left: 250px;
    padding-top: 150px;
    padding-right: 200px;
    width: 100%;
    padding-bottom: 50px;
}


// .log-in-form {
//     margin: 0 auto;
// }