.vertnav-bar {
    background: rgb(75, 75, 75);
    width: 200px;
    height: 100vh;
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
}

.navitem {
    color: rgb(235, 235, 235);
    padding-top: 20px;
}