<div class="all-blogposts-page">
    <h1>All Blogposts</h1>
    <p>All Blogposts should appear here</p>
    <div>
    <div>
        <%= link_to "Add New", user_blogpost_index_path(current_user), class: "button-main" %>
    </div>
        <table>
            <th>Blogpost</th>
            <tbody>
                <tr>
                    <% @blogposts.each do |blogpost| %>
                    <td><h3 class=""><%= blogpost.blog_title %></h3><p class=""><%= blogpost.blog_sub_heading %></p>
                        <div class="flex">
                            <p>edit</p><p>delete</p>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>