<div class="">
    <h1>All Blogposts</h1>
    <p>All Blogposts should appear here</p>
    <% @job.each do |job| %>
    <div class="">
        <div class="">
        </div>
        <div class="">
            <h3 class=""><%= job.job_title %></h3>
            <div class="">
            </div>
        </div>
    </div>
    <% end %>
</div>