<div class="">
    <h1>All Blogposts</h1>
    <p>All Blogposts should appear here</p>
    <%# <% @job.each do |job| %> %>
    <div class="">
        <div class="">
        </div>
        <div class="">
            
            <div class="">
            </div>
        </div>
    </div>
    <%# <% end %> %>
</div>